$light-gray: #a0a0a0;
$dark-gray: #333;
$green: #6dd33d;

.available-for-work-btn {
  height: 2.75rem;
  padding: 0 1rem;
  border-radius: 1.5rem;
  background-color: $dark-gray;
  border: 1px solid $light-gray;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: lighten($dark-gray, 5%);
  }

  .btn-content {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }

  .status-indicator {
    height: 0.5rem;
    width: 0.5rem;
    position: relative;
    border-radius: 50%;
    background-color: $green;
    justify-content: center;
    align-items: center;
    display: flex;

    .ping-animation {
      position: absolute;
      width: 0.75rem;
      height: 0.75rem;
      border-radius: 50%;
      background-color: rgba(109, 211, 61, 0.3);
      animation: ping 1s infinite;
      pointer-events: none;
    }
  }

  .btn-text {
    font-size: 0.875rem;
    color: $light-gray;
    flex-shrink: 0;
  }
}

@keyframes ping {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
